
header {
    background-color: blueviolet;
    width: 300px;
    height: 200px;
}

.about-me {
    background-color: yellow;
    width: 300px;
    height: 200px; 
}

section {
    width: 300px;
    height: 200px; 
    background-color: green;
}

footer {
    background-color: yellow;
    width: 300px;
    height: 200px;  
}