
body {
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aqua;
}