.container {
  height: 400px;
  padding: 50px;
  background-color: aquamarine;
  position: relative;
}

.face {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: cornsilk;
  position: absolute;
}

.eye-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.eye {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: right;
  align-items: center;
}

.eyeballs {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}

.balls-place {
  height: 100px;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
}

.balls {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: brown;
  margin: 20px;
}

.text-area {
  background-color: greenyellow;
  text-align: center;
  font-size: 50px;
  color: green;
  padding: 50px;
}

.cinema {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}

.display {
  width: 70%;
  height: 50px;
  background-color: aqua;
  border: solid black 20px;
  margin: 30px 0;
  text-align: center;
  color: blue;
  padding: 20px;
  font-size: 30px;
}

.flowers-area {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: brown;
}

.circles {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: red;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flowers {
  width: 110px;
  height: 35px;
  background-color: hotpink;
  border-radius: 50px;
}

.flowers::before {
  content: "";
  display: block;
  position: absolute;
  width: 110px;
  height: 35px;
  background-color: hotpink;
  border-radius: 50px;
  transform: rotate(60deg);
}

.flowers::after {
  content: "";
  display: block;
  width: 110px;
  height: 35px;
  background-color: hotpink;
  border-radius: 50px;
  transform: rotate(-60deg);
}

.hearts-place {
  background-color: hotpink;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.heart{
  width: 90px;
  height: 90px;
  transform: rotate(45deg);
  transform-origin: center;
  position: relative;
  background: red;
  margin: 40px ;
}
.heart::before, .heart::after{
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: red;
}
.heart::before{
  left: -50px;
}
.heart::after{
  top: -50px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 10px
}

.circ-place {
  height: 150px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circ {
  width: 0px;
  height: 0px;
  border-radius: 50px;
  border: 50px solid darkblue;
  border-top-color: transparent;
  transform: rotate(80deg);
  margin: 20px;
}

.blue {
  background-color: blue;
  display: flex;
  justify-content: center;
}

.pink {
  width: 70%;
  height: 100px;
  background-color: palevioletred;
  border: solid violet 10px;
  border-radius: 15px;
  margin: 20px 0;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.orange-area {
  width: 100%;
  height: 150px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-place {
  width: 70%;
  height: 100px;
  padding: 20px;
  background-color: blueviolet;
  border-radius: 15px;
  text-align: center;
  font-size: 70px;
  color: darkblue;
}

.bubble-place {
  height: 150px;
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  position: absolute;
  background: slategray;
  padding: 6px 10px;
  border-radius: 5px 0 5px 5px;
  color: black;
  font-size: 40px;
  text-align: center;
}

.bubble:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  border-top: 8px solid slategray;
  border-right: 12px solid transparent;
}

/* .bubble {
      background-color: lightgreen;
      width: 300px;
      height: 150px;
      border-radius: 50px;
      color: gray;
      font-size: 30px;
      text-align: center;
      padding: 20px;
}

.speech {
    width: 0;
    height: 0;
    border-top: 30px solid lightgreen;
    border-left: 30px solid transparent;
    margin-left: 220px;
}
*/






